<ion-header>

  <ion-navbar hideBackButton="slides.isBeginning()">
    <ion-buttons start *ngIf=!slides.isBeginning()>
      <button ion-button clear color="aubergine" (click)="back()"> Back</button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <form (ngSubmit)="onReviewSubmit()">
  <ion-slides (ionSlideDidChange)="onSlideChange($event)">
    <ion-slide class="page-add-review--stylist-review-slide">
    <h3> {{pageSubheader}} </h3>
    </ion-slide>
    <ion-slide class="page-add-review--stylist-review-slide">
    <h3> {{ratingTextHeader}} </h3>
      <star-rating
       (chosenRating)="onRatingSelect($event)"
       ></star-rating>
    </ion-slide>
    <ion-slide class="page-add-review--stylist-review-slide">
    <h3> {{reviewTextHeader}} </h3>
    <p>
      {{reviewTextSubHeader}}
    </p>

    <div class="page-add-review--stylist-review-text">
      <ion-textarea [(ngModel)]="review.reviewText" name="reviewtext"></ion-textarea>
    </div>
    </ion-slide>
  </ion-slides>
  <button *ngIf="slides.isEnd()" block round ion-button color="aubergine" [disabled]="false">
    {{submitButtonText}}
  </button>
  </form>
  <button *ngIf="!slides.isEnd()" block round ion-button (click)="next()" color="aubergine" [disabled]="false">
    {{nextButtonText}}
  </button>
</ion-content>
