<!--
  Generated template for the BookingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>Bookings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list-header>
{{pendingBookingText}}
  </ion-list-header>
  <div *ngIf="bookings$ | async; let pendbookings">
    <div *ngFor="let pendbook of pendbookings">
      <div *ngIf="pendbook.payload.val().userAccepted === false && pendbook.payload.val().stylistAccepted === false; then pending else no_pending"></div>
        <ng-template #pending>
          Avail ID {{pendbook.payload.val().availabilityId}}

          <ion-item>
          <div *ngFor="let avail of availabilities">
            <div *ngIf="pendbook.payload.val().availabilityId === avail.availId">
              {{avail.datetime}}
            </div>
          </div>
          <div *ngFor="let user of bookingUsers">
            <div *ngIf="pendbook.payload.val().userId === user.userId">
              {{user.name}}
            </div>
          </div>
          </ion-item>
        </ng-template>

      </div>
  </div>
    <ng-template #no_pending>
      <h2> {{noPendingBookingText}}</h2>
    </ng-template>


    <hr>

    <ion-list-header>
      {{acceptedBookingText}}
    </ion-list-header>

  <div *ngIf="bookings$ | async; let accbookings">
    <div *ngFor="let accbook of accbookings">

      <div *ngIf="accbook.payload.val().userAccepted === true && accbook.payload.val().stylistAccepted === true; then accepted"></div>
        <ng-template #accepted>
        {{accbook.payload.val().availabilityId}}
        </ng-template>

      </div>
  </div>
  <ng-template #no_accepted>
    <h2> {{noAcceptedBookingText}}</h2>
  </ng-template>
</ion-content>
