<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Bookings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list-header>
    {{pendingBookingText}}
  </ion-list-header>

  <div *ngIf="bookings$ | async; let pendbookings">
    <div *ngFor="let pendbook of pendbookings">
      <div *ngIf="pendbook.payload.val().status === 'PENDING'; then pending"></div>
        <ng-template no-padding #pending>
          <ion-card no-padding (click)="onBookingTap(pendbook.payload.val().availabilityId, pendbook.key)">
              <ion-card-content>
              <!-- Avail ID {{pendbook.payload.val().availabilityId}} -->
              <ion-card-header>

                <div *ngIf="bookedDateAvailability">
                  <div *ngFor="let bda of bookedDateAvailability">
                    <div *ngIf="bda.availId === pendbook.payload.val().availabilityId">
                      {{bda.bookedDate}}
                    </div>
                  </div>
                </div>

              </ion-card-header>
              <div *ngIf="isStylist">
                <div *ngFor="let bua of bookedUserAvailability">
                  <div *ngIf="bua.availId === pendbook.payload.val().availabilityId">
                    <ion-item no-padding no-border>
                      <ion-avatar item-start>
                        <img src="{{bua.avatarImage}}">
                      </ion-avatar>
                      <span> {{bua.userName}} </span>
                    </ion-item>
                  </div>
                </div>
              </div>

              <div *ngIf="!isStylist">
                <div *ngFor="let bsa of bookedStylistAvailability">
                  <div *ngIf="bsa.availId === pendbook.payload.val().availabilityId">
                    <ion-item no-padding no-border>
                      <ion-avatar item-start>
                        <img src="{{bsa.avatarImage}}">
                      </ion-avatar>
                      <span> {{bsa.userName}}</span>
                    </ion-item>
                  </div>
                </div>
              </div>

              </ion-card-content>
          </ion-card>
        </ng-template>
      </div>
  </div>

  <ion-list-header>
    {{acceptedBookingText}}
  </ion-list-header>

  <div *ngIf="bookings$ | async; let accbookings">
    <div *ngFor="let accbook of accbookings">

      <div *ngIf="accbook.payload.val().status === 'ACCEPTED' && checkBookingIsInFuture(accbook.payload.val().bookedAvailSlot); then accepted"></div>
        <ng-template #accepted>
        <ion-card (click)="onBookingTap(accbook.payload.val().availabilityId, accbook.key)">
          <ion-card-content>
           Avail ID {{accbook.payload.val().availabilityId}}
           <ion-card-header>
              <div *ngIf="bookedDateAvailability">
                <div *ngFor="let bda of bookedDateAvailability">
                  <div *ngIf="bda.availId === accbook.payload.val().availabilityId">
                  {{bda.bookedDate}}
                  </div>
              </div>
            </div>
           </ion-card-header>
          <div *ngIf="isStylist">
            <div *ngFor="let bua of bookedUserAvailability">
              <div *ngIf="bua.availId === accbook.payload.val().availabilityId">
                <ion-item no-padding no-border>
                  <ion-avatar item-start>
                    <img src="{{bua.avatarImage}}">
                  </ion-avatar>
                  <span> {{bua.userName}} </span>
                </ion-item>
              </div>
            </div>
          </div>

          <div *ngIf="!isStylist">
            <div *ngFor="let bsa of bookedStylistAvailability">
              <div *ngIf="bsa.availId === accbook.payload.val().availabilityId">
                <ion-item no-padding no-border>
                  <ion-avatar item-start>
                    <img src="{{bsa.avatarImage}}">
                  </ion-avatar>
                  <span> {{bsa.userName}}</span>
                </ion-item>
              </div>
            </div>
          </div>
          </ion-card-content>
      </ion-card>
        </ng-template>

      </div>
  </div>


  <ion-list-header>
    {{pastBookingsText}}
  </ion-list-header>

  <div *ngIf="bookings$ | async; let pastbookings">
    <div *ngFor="let pastbook of pastbookings">

      <div *ngIf="pastbook.payload.val().status === 'ACCEPTED' && checkBookingIsInPast(pastbook.payload.val().bookedAvailSlot); then accepted"></div>
      <ng-template no-padding #accepted>
        <ion-card no-padding>
          <ion-card-content>
             Avail ID {{pastbook.payload.val().availabilityId}}
             <ion-card-header>

             </ion-card-header>
            <div *ngFor="let bua of bookedUserAvailability">
              <div *ngIf="bua.availId === pastbook.payload.val().availabilityId">
                <div *ngIf="isStylist">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        {{usernameText}}
                      </ion-col>
                      <ion-col>
                        {{bua.userName}}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </div>

          <div *ngIf="!isStylist">
            <div *ngFor="let bsa of bookedStylistAvailability">
              <div *ngIf="bsa.availId === pastbook.payload.val().availabilityId">
                <ion-item no-padding no-border>
                  <ion-avatar item-start>
                    <img src="{{bsa.avatarImage}}">
                  </ion-avatar>
                  <span> {{bsa.userName}}</span>
                </ion-item>
              </div>
            </div>
          </div>

          <div *ngIf="bookedDateAvailability">
            <div *ngFor="let bda of bookedDateAvailability">
              <div *ngIf="bda.availId === pastbook.payload.val().availabilityId">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      {{bookingDateText}}
                    </ion-col>
                    <ion-col>
                      {{bda.bookedDate}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </div>
            </ion-card-content>
              <ion-row>
                <ion-col>
                  <button
                    ion-button
                    small
                    (click)="onBookingTap(pastbook.payload.val().availabilityId, pastbook.key)"
                  >
                    {{chatText}}
                  </button>
                </ion-col>
                <ion-col>
                  <button
                    float-right
                    ion-button
                    small
                    *ngIf="isStylist==false"
                    (click)="onPastBookingTap(pastbook.payload.val().availabilityId, pastbook.payload.val().stylistId, pastbook.key)"
                  >
                    {{reviewText}}
                  </button>
                </ion-col>
              </ion-row>
        </ion-card>
      </ng-template>

    </div>
  </div>

</ion-content>
