<ion-header>
  <ion-navbar [hideBackButton]="!isStylist"></ion-navbar>
</ion-header>
<ion-content class="page-login">
    <div class="page-login--login-container">
      <h1 *ngIf="!isStylist">{{userLoginHeaderText}}</h1>
      <h1 *ngIf="isStylist">{{stylistLoginHeaderText}}</h1>
      <form [formGroup]="loginForm" (submit)="onLoginSubmit()">
        <ion-item>
          <ion-input
          formControlName="email"
          type="email"
          placeholder="Email"
          (focus)="onEmailFocus()"
          clearInput></ion-input>
        </ion-item>
        <ion-item>
            <button type="button"
              ion-button
              icon-only
              outline
              clear
              item-right
              (click)="showPassword(input)">
                <ion-icon
                [style.color]="input.type === 'password' ? 'black' : 'white'"
                name="eye">
                </ion-icon>
            </button>
          <ion-input #input
            formControlName="password"
            type="password"
            placeholder="Password"
            (ionFocus)="onEmailFocus()"
            clearInput>
          </ion-input>
        </ion-item>
        <div *ngIf="invalidLogin" class="invalid-login"> {{error}} </div>
        <p (click)="openResetPassword()">
          <strong>Forgot your password?</strong>
        </p>
          <button class="login-button"
            ion-button
            margin
            [disabled]="!loginForm.valid"
            color="tonal">Login
          </button>
      </form>

          <div>
          <button ion-button icon-only margin color="facebook" (tap)="onFacebookTap()">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
          <button ion-button icon-only margin color="google" (tap)="onGoogleTap()">
            <ion-icon name="logo-google"></ion-icon>
          </button>
          <button ion-button icon-only margin color="twitter" (tap)="onTwitterTap()">
            <ion-icon name="logo-twitter"></ion-icon>
          </button>
          </div>
            <div> Don't have an account?
              <b (click)="openRegisterPage()">Sign up</b>
            </div>
            <br>
            <div class="ab-logo"></div>
    </div>
</ion-content>
