page-login {
  // .scroll-content {
  //   margin-top: 0 !important;
  //   overflow: hidden;
  // }

  .page-login {


    &--login-container {

    background-color: color($colors, lightbg);
    background-size: cover;
    color: black;
    position: absolute;
    top: 0;
    padding: 10vw;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;

    .invalid-login {
      padding-top: 10px;
      color: red;
      }

    }



  }

  .logo {
    width: 70%;
    height: auto;
    padding-top: 5vh;
    margin-bottom: 15vh;
  }
  span {
    color: white;
  }
  .slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .slide-zoom {
    background: rgba(32, 32, 32, 0.2) !important;
    height: 100%;
  }
  ion-slides {
    height: 100vh;
  }
  ion-item {
    color: black !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: transparent !important;
    font-size: 0.9em;
  }
   ::-webkit-input-placeholder {
    color: black !important;
  }
  .login-container {
    background-color: grey;
    background-size: cover;
    color: black;
    position: absolute;
    top: 0;
    padding: 10vw;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
  }
  ion-button {
    opacity: 0.8;
  }

  ion-header.header.header-md::after{
    background-image: none;
  }

  .login-button {
    width: 215px;
  }

  .ab-logo {
    background: url('../assets/img/AB_logo_main_no_text_black.png') no-repeat;
     background-size: cover;
     background-position: center;
     height: 25rem;
     width: auto;
  }


  @media (min-width: 568px) {

    .ab-logo {
     height: 26rem;
     width: 26rem;
     margin-left: 15rem;
    }
  }

  @media (min-width: 768px) {
    .ab-logo {
     height: 26rem;
     width: 26rem;
     margin-left: 31rem;
  }
}

  @media (min-width: 968px) {
    .ab-logo {
     height: 26rem;
     width: 26rem;
     margin-left: 39rem;
    }
  }
  @media (min-width: 1468px) {

    .ab-logo {
     height: 40rem;
     width: 40rem;
     margin-left: 50rem;
    }
  }


}
