<ion-header no-border>
</ion-header>
<ion-content class="landing-page">
  <ion-slides pager="false" autoplay="2000" loop="true" speed="1500" effect="fade">
    <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
    </ion-slide>
  </ion-slides>

  <div class="landing-page--login-container">
    <div class="ab-logo"></div>
    <div class="ab-text"></div>
      <ion-slides centeredSlides pager autoplay="3000" speed="500" loop class="landing-page--tour-slides">
        <ion-slide *ngFor="let slide of tourSlides">
          <div>{{slide.slideText}}</div>
          <br>
        </ion-slide>
      </ion-slides>
      <ion-grid>
        <ion-row>
          <ion-col>
        <button #looking name="Looking" ion-button margin color="tonal" (click)="openPage(looking)"> {{lookingTitle}} </button>
        <button #offering name="Offering" ion-button margin color="tonal" (click)="openPage(offering)"> {{offeringTitle}} </button>
          </ion-col>
        </ion-row>
      </ion-grid>

  </div>
</ion-content>
