page-landing {
  .scroll-content {
    margin-top: 0 ;
    // overflow: hidden;
  }

  .logo {
    width: 70%;
    height: auto;
    padding-top: 5vh;
    margin-bottom: 15vh;
  }
  span {
    color: white;
  }
  .slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .slide-zoom {
    background: rgba(32, 32, 32, 0.2) ;
    height: 100%;
  }
  ion-slides {
    height: 100vh;
  }
  ion-item {
    color: white ;
    padding-left: 10px ;
    margin-bottom: 10px;
    background-color: transparent ;
    font-size: 0.9em;
  }
   ::-webkit-input-placeholder {
    color: white ;
  }
  .login-container {
    color: white;
    position: absolute;
    top: 0;
    padding: 10vw;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
  }
  ion-button {
    opacity: 0.8;
  }

}

// Logo used on reg pages
  .ab-logo {
    background: url('../assets/img/Logo Main - Tonal2.png') no-repeat;
     background-size: cover;
     background-position: center;
     height: 30rem;
     width: auto;
  }


  @media (min-width: 568px) {

    .ab-logo {
     height: 50rem;
     width: 50rem;
  }

  }

  @media (min-width: 768px) {
    .ab-logo {
     height: 40rem;
     width: 40rem;
  }
}

  @media (min-width: 968px) {
    .ab-logo {
     height: 40rem;
     width: 40rem;
     margin-left: 33rem;
    }
  }
  @media (min-width: 1468px) {

    .ab-logo {
     height: 40rem;
     width: 40rem;
     margin-left: 50rem;
    }

  }
