page-landing {
  .landing-page {
    &--tour-slides {
      // position: absolute;
      // top: 30vh;
      height: 100%;
      // padding-top: 30px;
    }

    &--login-container {
      color: white;
      position: absolute;
      top: 0;
      padding: 10vw;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      z-index: 2;
    }
  }
  .scroll-content {
    margin-top: 0;
    // overflow: hidden;
  }

  .logo {
    width: 70%;
    height: auto;
    padding-top: 5vh;
    margin-bottom: 15vh;
  }
  span {
    color: white;
  }
  .slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .slide-zoom {
    height: 100%;
  }
  ion-slides {
    height: 120vh;
  }
  ion-item {
    color: white;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    font-size: 0.9em;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  ion-button {
    opacity: 0.8;
  }
}

// Logo used on reg pages
.ab-logo {
  background: url('../assets/img/AB_logo_main_no_text_white.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: auto;
}

.ab-text {
  background: url('../assets/img/AB_logo_text_only_white.png') no-repeat;
  background-size: contain;
  background-position: center;
  height: 10rem;
}

@media (min-width: 568px) {
  .ab-logo {
    height: 26rem;
    width: 26rem;
    margin-left: 15rem;
  }
}

@media (min-width: 768px) {
  .ab-logo {
    height: 26rem;
    width: 26rem;
    margin-left: 31rem;
  }
}

@media (min-width: 968px) {
  .ab-logo {
    height: 26rem;
    width: 26rem;
    margin-left: 39rem;
  }
}
@media (min-width: 1468px) {
  .ab-logo {
    height: 40rem;
    width: 40rem;
    margin-left: 50rem;
  }
}
