<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>625369331469-urbsgboh5m7dbtev3plf1br5u0lh7n56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625369331469-urbsgboh5m7dbtev3plf1br5u0lh7n56</string>
	<key>API_KEY</key>
	<string>AIzaSyC4HX2ei_GwQTxnHniXQ8oCTb6OuPCP_LM</string>
	<key>GCM_SENDER_ID</key>
	<string>625369331469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.available.availablebeauty</string>
	<key>PROJECT_ID</key>
	<string>available-beauty-1511287868565</string>
	<key>STORAGE_BUCKET</key>
	<string>available-beauty-1511287868565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625369331469:ios:3a0211cb575d3b5e</string>
	<key>DATABASE_URL</key>
	<string>https://available-beauty-1511287868565.firebaseio.com</string>
</dict>
</plist>
