
<ion-header>

  <ion-navbar>
    <ion-title>{{findAvailabilityTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <div>{{viewDate}}</div> -->
<!--

  <calendar-week-view>

  </calendar-week-view> -->
  <ion-grid>
    <ion-row>
      <ion-col text-left col-2>
        <button
          ion-button
          round
          small
          *ngIf="dayCounter > 0"
          (click)="onArrowTap('left')"
        >
          <ion-icon
            name="arrow-dropleft"
            class="arow-large"
          ></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 text-center>{{day.weekday}}</ion-col>
      <ion-col text-right col-2>
        <button
          ion-button
          round
          small
          *ngIf="dayCounter < 6"
          (click)="onArrowTap('right')"
        >
          <ion-icon
            name="arrow-dropright"
            class="arrow-large"
          ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-scroll scrollX="true">
    <ion-col *ngFor="let date of dates">
      <button
        ion-button
        [outline]="date.selected"
        small
        color="aubergine"
        (click)="onDateTap(date, dates)"
      >
        {{date.weekday}}
      </button>
    </ion-col>
  </ion-scroll> -->

  <!-- <div *ngIf="availabilities && availabilities.length === 0; then no_avail else avail"></div>
  <ng-template #avail>
    <ion-list radio-group [(ngModel)]="selectedAvail">
      <ion-item *ngFor="let avail of availabilities">
        <ion-label>
          {{avail.datetime}}
        </ion-label>
        <ion-radio (ionSelect)="onRadioTapped(avail)"></ion-radio>
      </ion-item>
    </ion-list> -->
    <ion-row>
      <button
        ion-button
        round
        (class)="aubergine"
      >
        Morning
      </button>
    </ion-row>
    <div *ngIf="morning && morning.length === 0; then no_am else am"></div>
    <ng-template #am>
      <ion-row>
        <ion-buttons *ngFor="let slot of morning">
          <button
            ion-button
            round
            (class)="aubergine"
            (click)="onAvailSelected(slot)"
          >
            {{slot.datetime}}
          </button>
        </ion-buttons>
      </ion-row>
    </ng-template>
    <ng-template #no_am>
      <p>No Slots Available</p>
    </ng-template>
    <ion-row>
      <button
        ion-button
        round
        (class)="aubergine"
      >
        Afternoon
      </button>
    </ion-row>
    <div *ngIf="afternoon && afternoon.length === 0; then no_pm else pm"></div>
    <ng-template #pm>
      <ion-row>
        <ion-buttons *ngFor="let slot of afternoon">
          <button
            ion-button
            round
            (class)="aubergine"
            (click)="onAvailSelected(slot)"
          >
            {{slot.datetime}}
          </button>
        </ion-buttons>
      </ion-row>
    </ng-template>
    <ng-template #no_pm>
      <p>No Slots Available</p>
    </ng-template>
    <ion-row>
      <button
        ion-button
        round
        (class)="aubergine"
      >
        Evening
      </button>
    </ion-row>
    <div *ngIf="evening && evening.length === 0; then no_eve else eve"></div>
    <ng-template #eve>
      <ion-row>
        <ion-buttons *ngFor="let slot of evening">
          <button
            ion-button
            round
            (class)="aubergine"
            (click)="onAvailSelected(slot)"
          >
            {{slot.datetime}}
          </button>
        </ion-buttons>
      </ion-row>
    </ng-template>
    <ng-template #no_eve>
      <p>No Slots Available</p>
    </ng-template>
  <!-- </ng-template>
  <ng-template #no_avail>
    <h2 text-center>{{noAvailabilitiesText}}</h2>
  </ng-template> -->
</ion-content>

