page-stylist-profile {
  .page-stylist-profile {
    &--stylist-profile-card-button {
      position: absolute;
      padding: 2vw;
      font-size: 4rem;
      color: white;
    }

    &--selected-star-icon {
      color: lightgrey;
    }

    &--slide-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-color: transparent;
    }
  }

  .slide-zoom {
    height: 100%;
  }

  ion-slides {
    height: 70vh;
  }
}
