<ion-header>

  <ion-navbar>
    <ion-title>Stylist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page-stylist-profile" padding>
  <ion-card>
    <ion-card-title no-padding>
      <div>
        <ion-row>
          <ion-icon [ngStyle]="{'color': toggled===true ? 'red' : 'white'}" class="page-stylist-profile--stylist-profile-card-button"
            name="heart" (click)="toggleHeart()">
          </ion-icon>
        </ion-row>
        <ion-slides *ngIf="user.galleryImages && user.galleryImages.length" pager autoplay="3000" speed="500" loop>
          <ion-slide *ngFor="let img of user.galleryImages" [ngStyle]="{'background-image': 'url(' + img +')'}" class="page-stylist-profile--slide-background">
            <ion-row>
              <ion-icon [ngStyle]="{'color': toggled===true ? 'red' : 'white'}" class="page-stylist-profile--stylist-profile-card-button"
                name="heart" (click)="toggleHeart()">
              </ion-icon>
            </ion-row>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-item>
        {{user.name}}
      </ion-item>
    </ion-card-title>
    <ion-card-content no-padding>
      <div>
        <ion-item text-wrap>
          {{user.bio}}
        </ion-item>

      <ion-item>
        {{user.emailAddress}}
      </ion-item>
      <ion-item>
        <star-rating [rating]="user.stylistRating"></star-rating>
      </ion-item>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>
