<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>{{editProfileTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-padding>

      <form [formGroup]="editUserForm" (submit)="doSave()">

        <div class="bannerContainer">
          <div no-lines>
            <img class="profile-banner" src="{{userDetails?.bannerImage}}" (click)="doEditBanner()"/>
            <ion-icon name="ios-open-outline" (click)="doEditBanner()"></ion-icon>
          </div>
          <div no-lines>
            <ion-item>
              <ion-avatar class="profile-avatar">
                <img src="{{userDetails?.avatarImage}}"  (click)="showImageActionSheet()"/>
              </ion-avatar>
              <!-- <ion-icon name="ios-open-outline" (click)="showImageActionSheet()"></ion-icon> -->
            </ion-item>
          </div>
        </div>

        <ion-item>
          <ion-label color="primary">User Details</ion-label>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{userName}}</ion-label>
          <ion-input formControlName="name" value="{{userDetails?.name}}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{phoneNumber}}</ion-label>
          <ion-input formControlName="phoneNumber" value="{{userDetails?.phoneNumber}}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{emailAddress}}</ion-label>
          <ion-input formControlName="emailAddress" value="{{userDetails?.emailAddress}}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{location}}</ion-label>
          <ion-input formControlName="location" value="{{userDetails?.location}}"></ion-input>
        </ion-item>


        <!--<ion-item>
            <ion-label color="primary">Stylist Skills</ion-label>
          </ion-item>
        <div *ngIf="availableSkills$ | async; let skills">
          <div *ngFor="let skill of skills">
            <ion-item>
              <ion-checkbox></ion-checkbox>
              <ion-label stacked colour="primary">{{skill.key}}</ion-label>
            </ion-item>
          </div>
        </div>-->

        <div *ngIf="isStylist">  <!--  ngIf user.isStylist = true -->
        <div>
        <ion-item>
          <ion-label color="primary">Stylist Details</ion-label>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{stylistName}}</ion-label>
          <ion-input formControlName="stylistName" type="text" value="{{userDetails?.stylistName}}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{address1Line}}</ion-label>
          <ion-input formControlName="addressLine1" type="text" value="{{userDetails?.addressLine1}}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{address2Line}}</ion-label>
          <ion-input formControlName="addressLine2" type="text" value="{{userDetails?.addressLine2}}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{addressTown}}</ion-label>
          <ion-input formControlName="addressTownCity" type="text" value="{{userDetails?.addressTownCity}}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{addressCounty}}</ion-label>
          <ion-input formControlName="addressCounty" type="text" value="{{userDetails?.addressCounty}}"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-label stacked color="primary">{{addressPostcode}}</ion-label>
          <ion-input formControlName="addressPostcode" type="text" value="{{userDetails?.addressPostcode}}"></ion-input>
        </ion-item>
        <div *ngIf="availableSkills$ | async; let skills">
          <ion-item>
            <ion-label color="primary">{{setStylistSkills}}</ion-label>
            <ion-select  formControlName="stylistSkills" multiple="true" interface="action-sheet" [(ngModel)]="userDetails.skills">
              <ion-option *ngFor="let skill of skills">{{skill.key}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <ion-row>
          <ion-item no-lines text-wrap>
            <ion-label stacked color="primary">{{bio}}</ion-label>
            <ion-textarea formControlName="bio" value="{{userDetails?.bio}}" ></ion-textarea>
          </ion-item>
        </ion-row>
      </div>


        <ion-item no-lines>
          <ion-label color="primary">{{location}}</ion-label>
        </ion-item>

        <ion-row>
          <ion-item no-lines>
            <ion-label color="primary">{{mobileStylist}}</ion-label>
            <ion-checkbox formControlName="mobile" checked="{{userDetails?.mobile}}"></ion-checkbox>
          </ion-item>
            <!-- TODO : If mobile=true, then display block below??? -->
          <ion-item no-lines>
            <ion-label color="primary">{{mobileRange}}</ion-label>
            <ion-input formControlName="mobileRange" type="number" value="{{userDetails?.mobileRange}}"></ion-input>
          </ion-item>
        </ion-row>
    </div>

        <div class="buttonsContainer">
          <ion-row>
            <button class="save" ion-button round type="submit">Save</button>  <!--[disabled]="!userEditForm.valid"-->
            <button class="cancel" ion-button round type="button" (click)="doCancel()">Cancel</button>
          </ion-row>
        </div>
      </form>
  </ion-list>


</ion-content>
