page-buy-more-slots {
 .buy-more-slots {
  ion-card {
    min-height: 50vw;
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    // color: #3a3a3a;,
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.3em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #ff5400;
    font-weight: bold;
  }

  .purchase-button {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ff2a2a;
  }
 }
}
