<ion-header>
  <ion-navbar>
    <ion-title>Buy More Slots</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="buy-more-slots">
  <ion-card *ngFor="let product of products; index as i">
    <img src="{{product.image}}"/>
    <div class="card-title">{{product.name}} / {{product.price}}</div>
    <div class="card-subtitle">{{product.slots}} Slots</div>
    <button ion-button class="purchase-button" full (click)="buyProduct(i+1)">
      Buy
    </button>
  </ion-card>
</ion-content>