
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="tonal" (click)="doOpenSettings()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<div no-padding *ngFor="let s of style">
  <div no-padding>
    <img src="{{s.bannerImage}}">
  </div>
</div>

<ion-list no-lines padding>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{user?.avatarImage}}">
      </ion-avatar>
         {{user?.name}}
    </ion-item>
    <ion-item>{{user?.emailAddress}}</ion-item>
    {{stylist$}}

    <div *ngIf="isStylist">
      I am a stylist

    </div>
  </ion-list>


</ion-content>
