<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      <!-- Available Beauty -->
      <img src="assets/img/AB_logo_text.png">
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-end (click)="doLogOut()" *ngIf="anonymousUser">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>
  <!--SEARCH BAR -->
  <!--<ion-searchbar (keyup.enter)="showSearch($event)"></ion-searchbar>-->

  <!--WHAT / WHEN / SELECT TREATMENT TYPE -->
  <!-- <ion-grid>
      <ion-row>
        <ion-item>
          <div *ngIf="availableSkills$ | async; let skills">
              <ion-label color="primary">Stylist Skills</ion-label>
              <ion-select interface="action-sheet">
                <ion-option *ngFor="let skill of skills">{{skill.key}}</ion-option>
              </ion-select>
          </div>
      </ion-item>
    </ion-row>
  </ion-grid> -->


  <ion-grid>
    <ion-row>
      <ion-col item-width="50%">
        <ion-select width="100%" placeholder="Select treatment" id="treatment" [(ngModel)]="treatment" (ngModelChange)="treatmentSearch($event)" interface="popover">
          <ion-option *ngFor="let option of beautyOptions; let o = index" value="{{o}}">
              {{option.key}}
          </ion-option>
        </ion-select>
      </ion-col>
      <ion-col item-width="50%">
        <ion-select width="100%" placeholder="Select date" id="date" [(ngModel)]="date" (ngModelChange)="dateSearch($event)" interface="popover">
          <ion-option *ngFor="let date of dateOptions; let d = index" value="{{d}}">
              {{date.name}}
          </ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <div class="page-home--container">
  <!--MAP VIEW -->
  <stylist-maps
  *ngIf="showMap"
  [lat]="lat"
  [long]="long"
  [stylists]="users"
  ></stylist-maps>
    <div>
      <!--STYLIST CARD LIST -->
      <ion-list *ngIf="!showMap" no-lines no-padding>
        <ion-card no-padding *ngFor="let user of users; let i = index" >
          <ion-card-content>
            <ion-grid no-padding (click)="openProfile(user)">
              <ion-row>
                <ion-col>
                    <ion-item no-padding no-border>
                      <ion-avatar item-start>
                        <img src="{{user.avatarImage}}">
                      </ion-avatar>
                      {{user.name}}
                    </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <br>
            <div>
              <div text-wrap>
                <ion-slides no-padding *ngIf="user.galleryImages && user.galleryImages.length" pager autoplay="3000" speed="500" loop (click)="openProfile(user)">
                  <ion-slide *ngFor="let img of user.galleryImages" [ngStyle]="{'background-image': 'url(' + img +')'}" class="page-home--slide-background">
                  </ion-slide>
                </ion-slides>
                <div *ngIf="user.stylistRating; let starRating;">
                  <ion-item no-padding>
                  <star-rating [rating]="starRating" (click)="openReviews(user.key)"></star-rating>
                    <span item-content class="page-home--reviewtext-centered" (click)="openReviews(user.key)"> {{reviewsText}} </span>
                    <ion-icon item-end name="heart" [ngStyle]="{'color': toggled===true ? 'red' : 'black'}" (click)="toggleFavourite()"></ion-icon>
                  </ion-item>
                </div>
              </div>
            </div>
          <!--SEVICES  -->
          <ion-list no-lines no-padding>
            <!-- <ion-item class="page-home--services" (click)="onSkillsTap(user)">
                {{servicesText}}
              <ion-icon item-end name="ios-arrow-down" color="aubergine"></ion-icon>
            </ion-item> -->
            <ion-item *ngFor="let skill of user.skills"  (click)="onSkillsTap(user)">
              {{skill}}
            </ion-item>
          </ion-list>
          <!-- <expandable-item [expandHeight]="itemExpandHeight" [expanded]="user.skillsExpanded">
            <div *ngIf="user.skillsExpanded">
              <ion-item *ngFor="let skill of user.skills">
                {{skill}}
              </ion-item>
            </div>
          </expandable-item> -->
          <!--AVAILABILITY LINK -->
          <ion-list no-lines no-padding>
            <ion-item class="page-home--services">
              <button
                ion-button
                round
                full
                color="aubergine"
                (click)="onAvailabilityTap(user)"
              >
                {{availabilityHeader}}
              </button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</div>
<!-- SHOW MAP FAB BUTTON -->
 <ion-fab bottom left>
      <button ion-fab (click)="toggleMap()" color="aubergine">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
