<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      <!-- Available Beauty -->
      <img src="assets/img/AB_logo_text.png">
    </ion-title>

  </ion-navbar>
  <!--SEARCH BAR -->
  <!--<ion-searchbar (keyup.enter)="showSearch($event)"></ion-searchbar>-->

  <!--WHAT / WHEN / SELECT TREATMENT TYPE -->
  <!-- <ion-grid>
      <ion-row>
        <ion-item>
          <div *ngIf="availableSkills$ | async; let skills">
              <ion-label color="primary">Stylist Skills</ion-label>
              <ion-select interface="action-sheet">
                <ion-option *ngFor="let skill of skills">{{skill.key}}</ion-option>
              </ion-select>
          </div>
      </ion-item>
    </ion-row>
  </ion-grid> -->


  <ion-grid>
    <ion-row>
      <ion-col item-width="50%">
        <ion-select width="100%" placeholder="Select treatment" id="treatment" [(ngModel)]="treatment" (ngModelChange)="treatmentSearch($event)" interface="popover">
          <ion-option *ngFor="let option of beautyOptions; let o = index" value="{{o}}">
              {{option.key}}
          </ion-option>
        </ion-select>
      </ion-col>
      <ion-col item-width="50%">
        <ion-select width="100%" placeholder="Select date" id="date" [(ngModel)]="date" (ngModelChange)="dateSearch($event)" interface="popover">
          <ion-option *ngFor="let date of dateOptions; let d = index" value="{{d}}">
              {{date.name}}
          </ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <div class="page-home--container">
        <!-- <ion-label>Gaming</ion-label>
        <ion-select [(ngModel)]="gaming">
          <ion-option *ngFor="let option of beautyOptions"
            ion-button round
            [color]="option.disabled ? 'primary' : 'aubergine'"
            value="option.name">{{option.name}}</ion-option>
        </ion-select> -->

  <!--MAP VIEW -->
  <ion-maps *ngIf="showMap" mapStyle="standard" lat="{{lat}}" lng="{{long}}" height="50%">
    <!--Custom HTML marker-->
    <!-- lat="lat" lng="long" -->
    <!-- <ion-marker lat="40.717317" lng="-73.995284" parentClass="heart" customHTML="<div class='outline'></div>"></ion-marker> -->
    <!-- <ion-marker lat="{{lat}}" lng="{{long}}" parentClass="heart" customHTML="<div class='outline'></div>"></ion-marker> -->

    <!--Custom icon marker-->
    <!-- <ion-marker lat="40.718217" lng="-73.991434" title="Custom icon" iconUrl="http://icons.iconarchive.com/icons/paomedia/small-n-flat/48/map-marker-icon.png"></ion-marker> -->
    <!-- <ion-marker lat="{{lat}}" lng="{long}}" title="Custom icon" iconUrl="http://icons.iconarchive.com/icons/paomedia/small-n-flat/48/map-marker-icon.png"></ion-marker> -->

    <!--Normal marker-->
    <!-- <ion-marker lat="40.718417" lng="-73.996734" label="Y" title="Normal Marker"></ion-marker> -->
    <ion-marker lat="{{lat}}" lng="{{long}}" label="Y" title="Me"></ion-marker>
    <div *ngFor="let user of users">
      <ion-marker lat="{{user.baseLocation[0]}}" lng="{{user.baseLocation[1]}}" label="{{user.name[0]}}" title="{{user.name}}">
      </ion-marker>
    </div>
  </ion-maps>
    <div>
      <!--STYLIST CARD LIST -->
      <ion-list no-padding>
          <ion-card no-padding *ngFor="let user of users; let i = index" >
            <ion-card-content>
              <div (click)="openProfile(user)">
              <ion-grid no-padding>
                <ion-row>
                  <ion-col>
                      <ion-item no-padding no-border>
                        <ion-avatar item-start>
                          <img src="{{user.avatarImage}}">
                        </ion-avatar>
                        {{user.name}}
                      </ion-item>
                  </ion-col>
                  <!-- <ion-col>
                    <ion-item class="page-home--stylist-profile" >
                        <button ion-button item-end color="aubergine" > Stylist</button>
                    </ion-item>
                  </ion-col> -->
                </ion-row>
              </ion-grid>
                <br>
                <div>
                    <div text-wrap>
                      <ion-slides no-padding *ngIf="user.galleryImages && user.galleryImages.length" pager autoplay="3000" speed="500" loop>
                        <ion-slide *ngFor="let img of user.galleryImages" [ngStyle]="{'background-image': 'url(' + img +')'}" class="page-home--slide-background">
                        </ion-slide>
                      </ion-slides>
                      <div *ngIf="user.stylistRating; let starRating;">
                        <ion-item no-padding>
                        <star-rating [rating]="starRating"></star-rating>
                         <span item-content class="page-home--reviewtext-centered"> {{stylistReviews}} {{reviewsText}} </span>
                          <ion-icon item-end name="heart" [ngStyle]="{'color': toggled===true ? 'red' : 'black'}" (click)="toggleFavourite()"></ion-icon>
                        </ion-item>
                      </div>
                    </div>
                </div>
                </div>
                <ion-list-header no-padding (click)="onSkillsTap(user)">
                  {{servicesText}}
                </ion-list-header>
                 <expandable-item [expandHeight]="itemExpandHeight" [expanded]="user.skillsExpanded">
                   <ion-item *ngIf="user.skillsExpanded">
                     Skills go here
                   </ion-item>
                 </expandable-item>

      <ion-list no-padding>
        <button no-padding ion-item (click)="onAvailabilityTap(user)">
          {{availabilityHeader}}
        </button>
      </ion-list>
      <div *ngIf="availabilities && availabilities.length === 0; then no_avail else avail"></div>
      <ng-template #no_avail>
        <h2>{{noAvailabilitiesText}}</h2>
      </ng-template>
      <expandable-item [expandHeight]="itemExpandHeight" [expanded]="user.availsExpanded">
        <ng-template #avail>

          <ion-scroll scrollX="true">
            <ion-col *ngFor="let avail of availabilities">
              <button ion-button outline small color="aubergine" (click)="bookAvailability(avail)">
                {{avail.datetime}}
              </button>
            </ion-col>
          </ion-scroll>

          <!-- </div> -->
        </ng-template>
      </expandable-item>
            </ion-card-content>
          </ion-card>
      </ion-list>
    </div>
</div>
<!-- SHOW MAP FAB BUTTON -->
 <ion-fab bottom right>
      <button ion-fab [disabled]="!mapButton" (click)="toggleMap()" color="aubergine">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
