page-home {
  .page-home {

    //  .scroll {
    //     height: 100%
    //   }



    &--stylist-profile {
      padding-top: 1rem;
    }
    &--slide-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-color: transparent;
    }

    &--container {


    &--services.item-ios {
      padding-left: 0px;
    }

    &--reviewtext-centered {
      flex: 1;
    }
  }
  .search-item {
    border: 2px solid #dedede;
    padding: 15px;
  }

  ion-scroll {
    white-space: nowrap;
    height: 250px;
  }

  ion-slides {
    height: 20vh; // iPhone8;
  }

  ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100%;
  }
  }
}
