<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group>
    <div *ngFor="let review of review$ | async">
      <div *ngIf="reviewUser && review.senderUid === reviewUser.uid">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{reviewUser.avatarImage}}">
          </ion-avatar>
          {{reviewUser.name}}
        </ion-item>
      </div>
      <ion-item>
        <star-rating [rating]="review.starRating"></star-rating>
      </ion-item>
      <ion-item text-wrap>
        {{review.reviewText}}
      </ion-item>
      <ion-item-divider></ion-item-divider>
    </div>
  </ion-item-group>
</ion-content>
