
<ion-header>
  <ion-navbar hideBackButton="true">
      <ion-buttons start *ngIf=!slides.isBeginning()>
        <button ion-button clear color="aubergine" (click)="back()"> Back</button>
      </ion-buttons>
      <ion-title>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="stylistRegForm" (submit)="onSubmitStylistRegForm()">
  <ion-slides (ionSlideDidChange)="onSlideChange($event)">
    <!-- Intro slide -->
    <ion-slide class="page-stylist-register--stylist-reg-slide">
      <h3> {{pageSubheader}} </h3>
    </ion-slide>
    <!-- Stylist Name -->
    <ion-slide class="page-stylist-register--stylist-reg-slide">
      <h3> {{stylistHeaderLabel}} </h3>
      <ion-item>
        <ion-input formControlName="stylistName" type="text" placeholder="{{stylistNameLabel}}">
        </ion-input>
      </ion-item>
    </ion-slide>
    <!-- Stylist Bio -->
    <ion-slide class="page-stylist-register--stylist-reg-slide">
      <h3> {{bioLabel}} </h3>
      <ion-textarea formControlName="bio" type="text" placeholder="{{bioPlaceholder}}">
      </ion-textarea>
    </ion-slide>
    <!-- Skills -->
    <ion-slide class="page-stylist-register--stylist-reg-slide">
      <h3> {{servicesLabel}} </h3>
      <ion-item text-center class="skills-select">
        <ion-label text-center>
          <ion-icon class="skills-icon" size="large" name="md-medal"></ion-icon>
        </ion-label>
        <ion-select
         formControlName="stylistSkills"
         multiple="true"
         (ionChange)="onSkillSelect($event)">
          <div *ngIf="skillslist$ | async; let skills">
            <ion-option
            *ngFor="let skill of skills">
              {{skill.key}}
          </ion-option>
          </div>
        </ion-select>
      </ion-item>
      <ion-item *ngFor="let skill of selectedSkills">{{skill.name}}</ion-item>
    </ion-slide>
    <!-- Phone number -->
    <ion-slide class="page-stylist-register--stylist-reg-slide">
      <h3> {{phoneNumberLabel}} </h3>
      <ion-label>
        <ion-icon name="call"></ion-icon>
      </ion-label>
      <ion-input formControlName="phoneNumber" type="text" placeholder="{{phoneNumberLabel}}">
      </ion-input>
      <!-- <div *ngIf="stylistRegForm.get('phoneNumber').hasError('invalidPhone')"> Invalid phone number</div> -->
    </ion-slide>
    <!-- Location -->
    <ion-slide  class="page-stylist-register--stylist-reg-slide">
       <h3> {{locationLabel}}</h3>
      <button text-center ion-item icon-start detail-none (click)="useCurrentAddress()" type="button">
        <ion-icon class="page-stylist-register--locate" name="locate"></ion-icon> {{useMyCurrentLocationLabel}}
      </button>
      <div text-center> {{orLabel}} </div>
      <ion-item>
        <ion-label text-center floating>{{enterLocationLabel}}</ion-label>
        <ion-input formControlName="locationLookup" type="text">
        </ion-input>
        <button ion-button icon-only small item-end type="button" (click)="findAddress()" color="aubergine">
          <ion-icon name="search">
          </ion-icon>
          </button>
      </ion-item>
      <div *ngIf="showAddressForm">
        <ion-item>
          <ion-label floating>{{addressLine1Label}}</ion-label>
          <ion-input formControlName="addressLine1" type="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{addressLine2Label}}</ion-label>
          <ion-input formControlName="addressLine2" type="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{addressTownCityLabel}}</ion-label>
          <ion-input formControlName="addressTownCity" type="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{addressCountyLabel}}</ion-label>
          <ion-input formControlName="addressCounty" type="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{addressPostcodeLabel}}</ion-label>
          <ion-input formControlName="addressPostcode" type="text">
          </ion-input>
        </ion-item>
      </div>
    </ion-slide>
    <!-- Mobile Stylisy-->
    <ion-slide
      class="page-stylist-register--stylist-reg-slide">
      <h2>{{mobileLabel}}</h2>
        <ion-buttons>
          <button
          round
          ion-button
          type="button"
          (click)="setIsMobile(true)"
          color="aubergine"
          [outline]="outlineYes"
          >
          {{yesButtonText}}
          </button>
          <button
          round
          ion-button
          type="button"
          (click)="setIsMobile(false)"
          color="aubergine"
          [outline]="outlineNo"
          >
          {{noButtonText}}
          </button>
        </ion-buttons>
        <br>
        <div *ngIf="showMobileRange">
          <h5> {{mobileRangeLabel}}</h5>
          <ion-item>
            <ion-input
              formControlName="mobileRange"
              type="number"
              placeholder="{{mobileRangePlaceholder}}">
            </ion-input>
          </ion-item>
        </div>
    </ion-slide>
    <!-- Profile Photo -->
    <ion-slide>

      <h2>{{profilePhotoLabel}}</h2>
      <div>{{profilePhotoText}}</div>

      <div (click)="showImageActionSheet()">
        <img
        class="page-stylist-register--profile-avatar-container"
        src="{{profileUrl}}">
      </div>

      <!-- <button block round ion-button outline type="button" (click)="selectPhoto()" color="aubergine">
        {{choosePhotoButtonText}}
      </button>
      <button block round ion-button outline type="button" (click)="takePhoto()" color="aubergine">
        {{useCameraButtonText}}
      </button> -->
      <!-- <progress-bar *ngIf="stylistRegForm.get('loadImages').value === true && loadProgress < 100" [progress]="loadProgress">
      </progress-bar> -->

      <div *ngIf="showPhotoSpinner"><ion-spinner name="bubbles"></ion-spinner></div>
      <div *ngIf="downloadUrls && downloadUrls.length > 0">
        <div *ngFor="let url of downloadUrls">
            <img src="{{url}}">
        </div>
      </div>


    </ion-slide>
    <!-- Gallery Photos -->
    <ion-slide>

      <img src="assets/img/390.jpg"> <!-- move this to CSS -->

      <h2>{{galleryImagesLabel}}</h2>

      <!-- <button block round ion-button outline type="button" (click)="selectPhoto()" color="aubergine">
        {{choosePhotoButtonText}}
      </button>
      <button block round ion-button outline type="button" (click)="takePhoto()" color="aubergine">
        {{useCameraButtonText}}
      </button> -->
      <button block round ion-button type="button" (click)="showImageActionSheet()" color="aubergine">
        {{yesButtonText}}
      </button>
      <!-- <progress-bar *ngIf="stylistRegForm.get('loadImages').value === true && loadProgress < 100" [progress]="loadProgress">
      </progress-bar> -->

      <div *ngIf="showPhotoSpinner"><ion-spinner name="bubbles"></ion-spinner></div>
      <div *ngIf="downloadUrls && downloadUrls.length > 0">
        <div *ngFor="let url of downloadUrls">
            <img src="{{url}}">
        </div>
      </div>


    </ion-slide>
  </ion-slides>

  <button *ngIf="activeSlideIdx === 8" ion-button block round color="aubergine">
     {{noButtonText}}
  </button>
</form>

  <button *ngIf="activeSlideIdx !== 8" block round ion-button (click)="next()" color="aubergine" [disabled]="checkDisabled()">
   {{nextButtonText}}
  </button>



</ion-content>
