page-stylist-register {
  .page-stylist-register {
    &--stylist-reg-slide {
      padding-top: 50%;
      text-align: center;
    }

    &--locate {
      padding-top: 5px;
    }

    &--profile-avatar-container {
      border-radius: 50%;
      margin-top: 25px;
      width: 250px;
      height: 250px;
    }
  }

  ion-item.item-md.item-block > .item-inner {
    border-bottom: none;
  }
  ion-item.item-ios.item-block > .item-inner {
    border-bottom: none;
  }

  ion-input > input {
    text-align: center;
  }
  ion-textarea > textarea {
    text-align: center;
  }

  .skills-select.item.item-block.item-ios.item-select {
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
  }
  .skills-select.item.item-block.item-md.item-select {
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
  }

  ion-icon.skills-icon {
    font-size: 2.2em;
    margin-left: 50px;
    margin-right: auto;
  }

  .select-icon .select-icon-inner {
    display: none;
  }

  .select-text {
    display: none;
  }
}
