<ion-header>

  <ion-navbar>
    <ion-title>{{settingsTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      {{notificationsLabel}}
    </ion-item>
    <ion-item>
      {{termsLabel}}
    </ion-item>
    <a ion-item (click)="doLogOut()" detail-none>
      {{logOutLabel}}
    </a>
  </ion-list>



</ion-content>
