<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>
      <img src="assets/img/AB_logo_text.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h3 text-center>{{availabilitySubHeader}}</h3>
<ion-row text-end>
  {{availabilitySlotLabel}} <span *ngIf="numberOfAvailableSlots > 0">{{numberOfAvailableSlots}}</span>
  <button
    *ngIf="numberOfAvailableSlots == 0"
    ion-button
    round
    small
    (click)="doOpenBuyMoreSlotsModal()"
  >
    Buy Additional Slots
  </button>
</ion-row>
<div>
  <button
    ion-button
    round
    full
    (click)="confirmSelectedSlots()"
  >
    Confirm {{numberOfSelectedSlots}} Slots
  </button>
</div>
<div *ngFor="let slot of schedule let y = index" >
  <br>
  <ion-grid>
    <ion-row>
      <button
        text-right
        ion-button
        round
        color="aubergine"
        (click)="setAllSlotsTaken(slot,'all')"
      >
        {{slot.date}}
      </button>
    </ion-row>
    <ion-row>
    </ion-row>
  </ion-grid>
  <button
    item-end
    ion-button
    round
    color="aubergine"
    *ngIf="!hideTimeSlot('morning',y)"
    (click)="setAllSlotsTaken(slot,'morning')"
  >
    {{morningText}}
  </button>
  <ion-row  justify-content-center>
    <ion-buttons *ngFor="let date of slot.morningSlots;  let i = index">
      <button
        ion-button
        round
        *ngIf="!hideSlot(date)"
        [color]="date.disabled ? 'tonal' : 'aubergine'"
        (click)="toggleSlot(date, slot.morningSlots)"
      >
        {{date.time}}
      </button>
    </ion-buttons>
  </ion-row>
  <button
    item-end
    ion-button
    round
    color="aubergine"
    *ngIf="!hideTimeSlot('afternoon' , y)"
    (click)="setAllSlotsTaken(slot, 'afternoon')"
  >
    {{afternoonText}}
  </button>
  <ion-row  justify-content-center>
    <ion-buttons *ngFor="let date of slot.afternoonSlots;  let i = index">
      <button
        ion-button
        round
        *ngIf="!hideSlot(date)"
        [color]="date.disabled ? 'tonal' : 'aubergine'"
        (click)="toggleSlot(date, slot.afternoonSlots)"
      >
        {{date.time}}
      </button>
    </ion-buttons>
  </ion-row>
  <button
    item-end
    ion-button
    round
    color="aubergine"
    (click)="setAllSlotsTaken(slot, 'evening')"
  >
    {{eveningText}}
  </button>
  <ion-row  justify-content-center>
    <ion-buttons *ngFor="let date of slot.eveningSlots;  let i = index">
      <button
        ion-button
        round
        *ngIf="!hideSlot(date)"
        [color]="date.disabled ? 'tonal' : 'aubergine'"
        (click)="toggleSlot(date, slot.eveningSlots)"
      >
      {{date.time}}
      </button>
    </ion-buttons>
  </ion-row>
  <hr>
  </div>
  <ion-fab *ngIf="showNext" right bottom>
    <button ion-fab (click)="goToHome()" color="tonal">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
