page-book-availability {
  .page-book-availability {
    padding-bottom: 80px;
  }
  .page-book-availability {
    &--message-entry {
      background-color: #f4f4f4;
      padding: 0%;
    }

    &--message-and-buttons-container {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 99;
    }

    &--message-container {
      position: relative;
      // top: 20px;
    }

    &--message-entry.item-ios.item-block > .item-inner {
      border-bottom: none;
      border-top: 0.55px solid #c8c7cc;
    }
    &--message-entry.item-ios.item-block > .item-inner > button {
      margin-top: 20px;
    }

    &--accepted {
      color: green;
    }
    &--pending {
      color: rgb(128, 119, 0);
    }
    &--cancelled {
      color: red;
    }
  }
}
