<!-- Generated template for the ChatBubbleComponent component -->
<div class="chatBubble">
  <div class="chat-bubble {{msg.position}}">
    <img class="profile-pic {{msg.position}}" src="{{msg.img}}">
    <div class="message">{{msg.messageText}}</div>
    <div class="message-detail">
      <span style="font-weight:bold;">{{msg.messageSender}} </span>
      <span>{{msg.messageDate}}</span>
    </div>
  </div>
  <div style="clear:both"></div>
</div>
