// chat-bubble {
.chatBubble {
  position: relative;

  :last-child {
    margin-bottom: 10px;
  }

  img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
  }

  img.profile-pic.left {
    left: -45px;
    top: calc(100%);
  }

  img.profile-pic.right {
    right: -40px;
    top: calc(100%);
  }

  .message {
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .message-detail {
    white-space: nowrap;
    font-size: 14px;
  }

  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 70%;
  }

  .chat-bubble:before {
    content: '\00a0';
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }

  .chat-bubble.left {
    background-color: map-get($chat-bubble, background-left);
    float: left;
    margin-left: 50px;
    color: white;
  }

  .chat-bubble.left:before {
    background-color: map-get($chat-bubble, background-left);
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
  }

  .chat-bubble.right {
    background-color: map-get($chat-bubble, background-right);
    color: #000;
    float: right;
    margin-right: 50px;
  }

  .chat-bubble.right:before {
    background-color: map-get($chat-bubble, background-right);
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
  }

  .chat-bubble.right a.autolinker {
    color: #000;
    font-weight: bold;
  }
}
// }
